html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}