#mastloader {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000001;
  display: flex;
  align-items: center;
  justify-content: center;

  .ms-Spinner {
    z-index: 1000002;

    .ms-Spinner-circle {
      width: 100px;
      height: 100px;
    }
  }

}